
#dataset location # 2070 (num 4 batch 16) # 3090 (num 8 batch 32)
dataset_setting:
  class_num : 20
  train_07 : './data/voc/VOCdevkit/VOC2007'
  train_12 : './data/voc/VOCdevkit/VOC2012'
  input : [512,512]
  type : 'trainval'
  pin_memory : True
  num_workers : 4
  class: [ "aeroplane", "bicycle", "bird", "boat","bottle", "bus", "car", "cat", "chair", "cow",
           "diningtable", "dog", "horse", "motorbike", "person", "pottedplant", "sheep", "sofa", "train", "tvmonitor" ]

# model info
FCOS :
  CannelofBackbone : [2048, 1024, 512]
  channel : 256
  Epoch : 50
  batch_size : 16
  optimizer:
    name : SGD
    lr : 1e-2  # 0.0001
    momentum : 0.9
    weight_decay : 0.0001
  criterion : giou
  stride : [8, 16, 32, 64, 128]
  range :
    - [-1, 64]
    - [64, 128]
    - [128, 256]
    - [256, 512]
    - [512, 9999999]

HISFCOS:
  CannelofBackbone: [ 2048, 1024, 512 ]
  channel: 256
  Epoch: 50
  batch_size: 16
  optimizer:
    name : SGD
    lr : 1.0e-2  # 0.0001
    momentum : 0.9
    weight_decay : 0.0001 #0.0001
  criterion : giou
  stride : [8, 16, 32, 64, 128]
  range :
    - [-1, 32]
    - [32, 96]
    - [96, 192]
    - [192, 384]
    - [384, 9999999]
